.App {
  text-align: center;
  height: 60px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #777;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Log-header{
  background-color: #D3D3D3;
  height: 30px;
  padding: 20px;
  color: #008CBA;
  text-align: left;
  vertical-align: middle;
}

button{
    align-items: left;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}


body {
  font-family: 'Fira Sans', sans-serif;
  /* font-family: Helvetica, Arial, sans-serif; */
}


/*h1 {
  letter-spacing: 1.5px;
  color: #707070;
  font-size: 3em;
  font-weight: 400;
}

h2 {
  letter-spacing: 1.5px;
  color: #365899;
  font-size: 2em;
  font-weight: 100;
}*/

.logo {
  color: #FFF;
  font-weight: bold;
  font-size: 44px;

}

.nav-top__ul {
  list-style-type: none;
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-top__li {
  margin: 0px 20px;
}

.nav-top__li > a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 10px 10px 10px;
}

.nav-top__li--active {
  border-bottom: 5px solid #365899;
}


.page-appear {
  opacity: 0.01;
}

.page-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

